# Ignore Python cache and virtual environment files
__pycache__/
*.pyc
*.pyo
*.pyd
.env/
venv/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore output and log files
*.out
*.err
*.log

# Ignore SLURM and shell scripts
*.sh

# Ignore OS files and cache files
.DS_Store
Thumbs.db 
outdated_cache_ogb
outdated_cache_outdated

# Ignoe directories
anaconda3/
wandb/
logs/
data/
checkpoints/
sandbox/
barygnn/config/grid_search_configs/
barygnn/optuna_outputs/
barygnn/k_fold_outputs/
/.idea/
